#!/usr/bin/env python3

# Answer 2511

"""
Advent of Code 2022 Day 1 Puzzle 1

Usage:
  aoc_d1_p1 <input_file>
        [-i | --input]
        [-h | --help]
        [--version]

Options:
  input_file   Puzzle Input File
  -i --input   Some kind of input
  --version    Show version.
  -h --help    Show this screen.
"""

from docopt import docopt

class cmd_arguments():
    pass

def docopt_handler():
    args = cmd_arguments()
    arguments = docopt(__doc__)
    args.input_file = arguments['<input_file>']
    args.input = int(arguments['--input'])
    return args


def read_file(input_file):
    with open(input_file) as file:
        df = file.readlines()
    return df

def process_data(df,args):
    for line in df:
        line = line.strip()
        print(line)

def main():
    """Main Function
    - Handle docopt parameters
    - Read input File
    - Compute Result
    - Print Output
    """
    args = docopt_handler()
    df = read_file(args.input_file)
    process_data(df,args)


if __name__ == "__main__":
    main()
